<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head') %>

    <body>
        <%- include('../partials/header') %>

            <div class="wrapper-container">

                <h1 class="aboutus">¿Quienes somos?</h1>

                <h2 class="aboutus">Juan Manuel Passucci Bauer</h2>
                <div class="aboutus-detail">
                    <img class='aboutus-img' src="/images/juanma.jpg" alt="">

                    <p class="aboutus-text">Trabaja actualmente como empleado de comercio.
                        Después de pasar por algunas carreras universitarias y haber vivido el último año en otro país,
                        volvió con el objetivo de encontrar un nuevo rumbo profesional, es por eso que comenzó a
                        estudiar
                        programación web.
                        Su tiempo libre lo distribuye en pasar tiempo con sus mascotas, amigos y realizar actividad
                        física.
                    </p>
                </div>
                <h2 class="aboutus">Gina Lucia Stortoni</h2>
                <div class="aboutus-detail">
                <img class='aboutus-img' src="/images/gi.jpg" alt="">

                <p class="aboutus-text">Es contadora pública, trabaja en una empresa petrolera y actualmente se encuentra estudiando
                    programación web full Stack para poder buscar otro camino profesional.
                    Amante de los perros y la comida compartida, su filosofía de vida es: “Viajar para vivir”.
                </p>
                </div>


            <br>

            </div>

            <%- include('../partials/footer') %>
    </body>

</html>