<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head') %>

    <body>
        <%- include('../partials/header') %>

            <div class="wrapper-container">

                <h1 class="contact-us">Contactanos</h1>

                <h2 class="contact-us">Teléfono</h2>

                <p>0800-GJFarma</p>

              
                <br>

            </div>

            <%- include('../partials/footer') %>
    </body>

</html>