<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head') %>

    <body>
        <%- include('../partials/header') %>

            <div class="wrapper-container">

                <h1 class="faq">Preguntas frecuentes</h1>

                <h2 class="faq">¿Cómo hago para comprar en GJFarma.com?</h2>

                <p>Comprar en GJFarma.com es fácil, seguro y rápido. Ingresas a GJFarma.com, agregar al carrito de
                    compras los productos que necesites, seleccionas el punto de retiro más cercano (Una de nuestras
                    Farmacias adheridas) y realizás el pago. Luego recibirás tu pedido en el plazo indicado, solo te
                    acercas a la Farmacia seleccionada y lo retiras con tu número de pedido y tu DNI.</p>

                <h2 class="faq">¿Es seguro comprar en GJFarma.com?</h2>

                <p>Es muy seguro comprar en GJFarma.com, contamos con altos estándares de seguridad según las buenas
                    prácticas de los retails internacionales. Toda tu información personal no podrá ser leída ni
                    capturada por terceros mientras viaja por la red.</p>

                <h2 class="faq">¿Existen costos de envío?</h2>

                <p>Comprando en farmaonline.com no tenés ningún tipo de costo de envío para los retiros por farmacia.
                    Vos solo compras y pagas tus productos, nosotros te preparamos el pedido y lo enviamos a la Farmacia
                    que vos seleccionaste, solo te acercas y retiras tu pedido sin pagar nada más.</p>
                <br>

            </div>

            <%- include('../partials/footer') %>
    </body>

</html>