<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head') %>

    <body>
        <%- include('../partials/header') %>

            <div class="wrapper-container">

                <h1 class="workwithus">¿Queres trabajar con nosotros? </h1>

                <h2 class="workwithus">¡Envianos tu CV!</h2>

                <p class="workwithus">trabajaconnosotros@gjfarma.com</p>

              
                <br>

            </div>

            <%- include('../partials/footer') %>
    </body>

</html>