@media (min-width: 761px) {

    .search-bar{
        flex-wrap: wrap;
    }
    .product{
        width:24%;
        margin: 0.5% 0.5%;
    }
    .burger-menu{
        display: none;
    }
    nav{
        display: block;
    }
    .my-cart{
        margin-right: 15px;
    }
    .my-order{
        display: block;
    }
    .logo img{
        display:block ; 
        margin-left: 15px;
    }
    .footer{
        font-size: 16px;
    }
    .wrapper-container-footer{
        display: flex;
    }
    .prevNext a {
        width: 60px;
	    height:60px;
        line-height: 60px;
    }
    .bullets > a {
        width:       30px;
        height:      30px;
        line-height: 30px;
    }
}
@media (min-width: 1100px) {
    .logo img{
        margin-left: 0;
    }
}