.profile label{
    display: block;
    font-weight: bold;
}
.profile{
    width: 400px;
    background: var(--color-white-cold); 
    margin: auto;
    margin-top: 10px;
    margin-bottom: 50px;
    padding: 20px 30px;
    border-top: 4px solid var(--color-black);
    color: var(--color-black);
  }
  .profile-container{
    display: flex;
    justify-content: space-between;
  }
  .left-profile{
    width: 55%;
  }
  .profile h5 {
    margin: 0;
    height: 40px;
    margin-bottom: 30px;
    border-bottom: 1px solid;
    font-size: 20px;
    color: var(--color-grey);
  }
  .profile-line{
      margin-bottom: 10px;
  }
  .logout a, .crud a, .dashboard a{
    background-color: var(--color-black);
    color: var(--color-white-cold);
    border-radius: 5px;
    padding: 5px;
 
  }
  .botton-box{
    display: flex;
    justify-content: space-between;
  }
  