.profile label{
    display: block;
    font-weight: bold;
}
.profile{
    width: 90%;
    background: var(--color-white-cold); 
    margin: auto;
    margin-top: 10px;
    margin-bottom: 50px;
    padding: 20px 30px;
    border-top: 4px solid var(--color-black);
    color: var(--color-black);
  }
  .profile-container{
    display: flex;
    justify-content: space-between;
  }
  .left-profile{
    width: 55%;
  }
  .profile h5 {
    margin: 0;
    height: 40px;
    margin-bottom: 30px;
    border-bottom: 1px solid;
    font-size: 20px;
    color: var(--color-grey);
  }
  .profile-line{
      margin-bottom: 10px;
  }
  .logout a, .crud a, .dashboard a{
    background-color: var(--color-black);
    color: var(--color-white-cold);
    border-radius: 5px;
    padding: 5px;
 
  }
  .button-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 300px;
    margin-left: -10px;
  }
  .logout{
    width: 32%;
  }
  .dashboard{
    width: 28%;
  }
  .crud{
    width: 40%;
  }
  @media (min-width: 761px){
    .profile{
      width: 400px;
    }
    .button-box{
      flex-wrap: nowrap;
      width: 100%;
      margin-left: 0;
    }
  }
  