<div class="footer">
    <div class="wrapper-container-footer">
        <div class="institucional link-list">
            <h4>Institucional</h4>
            <ul class="institucional-items">
                <li><a href='/aboutus'>¿Quienes somos?</a></li>
                <li><a href='/workwithus'>Trabaja con nosotros</a></li>
               
            </ul>
        </div>
        <div class="contact  link-list">
            <h4>Atención al cliente</h4>
            <ul class="contact-items">
                <li><a href='/contact'>Contacto</a></li>
  
                <li><a href="/faq"> Preguntas frecuentes</a></li>
            </ul>
        </div>
        <div class="online-shopping  link-list">
            <h4>Compra online</h4>
            <ul class="online-shopping-items">
                <li>Puntos de retiro</li>
                <li><a href="/products/cart">Mi carrito</a></li>
            </ul>
        </div>
        <div class="social-networks">
            <h4>Redes sociales</h4>
            <ul class="social-networks-items">
                <li><i class="fab fa-facebook"></i></li>
                <li><i class="fab fa-instagram"></i></li>
                <li><i class="fab fa-twitter"></i></li>
                <li><i class="fab fa-youtube"></i></li>
            </ul>
        </div>
    </div>
</div>